@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@source '../**/*.vue';

@theme {
      --font-sans: 'Lexend', ui-sans-serif, system-ui, sans-serif;
      --font-display: 'Lexend', ui-sans-serif, system-ui, sans-serif;

      --color-primary: #1f68f9;
      --color-background-light: #f5f6f8;
      --color-background-dark: #0f1623;
      --color-surface-dark: #1a2332;
      --color-surface-dark-lighter: #242e42;
      --color-border-dark: #272d3a;
      --color-text-secondary: #9ba6bb;
  }
